@media screen and (max-width: 1440px) {
    body {
        font-size: 25px;
    }
    .container .content {
        padding: 9% 0 0;
      }
  }
@media screen and (max-width: 1024px) {
  .container .content {
    padding: 11.5% 0 0;
  }
  #btn-back-to-top {
    padding: 0.65% 1.4%;
  }
  #btn-back-to-top:hover {
    padding: 0.8% 1.55%;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .container .content {
    padding: 13% 0 0;
  }
  .container .header .header_top {
    font-size: 0.7857rem;
  }
  .header_with_search .logo img {
    width: 148px;
    max-height: 42px;
  }
  .header_with_search .search_navbar {
    flex: 9;
  }
  .header_with_search .search_navbar .search form input {
    height: 30px;
  }
  .header_with_search .search_navbar .navbar a {
    margin-right: 2%;
    font-size: 0.7142rem;
  }
  .header_with_search .search_navbar .navbar {
    padding: 1% 0;
  }
  .header_with_search .cart {
    flex: 1;
  }
  .carousel__header a {
    margin-left: 1%;
    font-size: 12px;
  }

  .carousel__header .carousel #font_shopee_mall {
    font-size: 0.8125rem;
  }
  .list_products .list_products_header a {
    width: 25%;
  }
  .carousel__header .carousel_all a i {
      font-size: 0.8125rem;
  }
  .banner_promotion-categories .banner {
    display: flex;
    flex-direction: column;
  }
  .banner_promotion-categories .banner .banner_slide {
    width: 100%;
  }
  .banner_promotion-categories .banner .banner_static {
    flex-direction: row;
    width: 100%;
    margin-left: 0;
  }
  .banner .banner_static #banner_static_top {
    margin-bottom: 0;
    margin-right: 3px;
  }
  .banner .banner_static #banner_static_bottom {
    margin-top: 0px;
    margin-left: 3px;
  }
  .banner_promotion-categories .banner .banner_static a {
    width: 50%;
  }
  .product {
    width: 23%;
    margin: 1%;
  }
  .customer_care .customer_care_items {
    width: 31.33334%;
    margin: 0 1% 5%;
  }
  .nation {
    flex-direction: column;
    text-align: center;
  }
  .nation .nation_items {
    margin-top: 2%;
  }
  .policy_address .policy {
    flex-wrap: wrap;
  }
  .policy_address .policy a {
    width: 33.33334%;
    text-align: center;
    margin-bottom: 2%;
  }
  .banner_promotion-categories .list-promotion-categories .promotion-categories a {
    width: 16.66667%;
  }
  .list-promotion-categories .btn {
    display: block;
  }
  .category_list .category_list_group .category_items {
    width: 16.66667%;
  }
  .flash_sale .flash_sale_items a {
    width: 25%;
  }
  /* .products_mall .products_mall_list a {
    font-size: 0.8rem;
  } */
  .products_mall .products_mall_list div {
    width: 31.33334%;
  }
  .products_mall {
    display: block;
  }
  .products_mall .products_mall_banner {
    width: 50%;
    margin: auto;
  }
  .product_mall_container {
    width: 100%;
  }
  #btn-back-to-top {
    padding: 0.5% 1.4%;
  }
  #btn-back-to-top:hover {
    padding: 0.8% 1.7%;
  }
}

@media screen and (max-width: 425px) {
  .banner_promotion-categories .list-promotion-categories .promotion-categories a {
    width: 25%;
  }
}